<a href="https://colab.research.google.com/github/subhiksha9/cs_lab/blob/main/LDA_Fishers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
df=pd.read_excel("/content/book1.xlsx")
df

   curvature  diameter     result
0       2.95      6.63     passed
1       2.53      7.79     passed
2       3.57      5.65     passed
3       3.16      5.47     passed
4       2.58      4.46  notpassed
5       2.16      6.22  notpassed
6       3.27      3.52  notpassed

In [2]:
x1=df['curvature']
x2=df['diameter']
y=df['result']

In [3]:
def transpose(m):
    res=[[0 for i in range(len(m))]for j in range(len(m[0]))]
    for i in range(len(m[0])):
        for j in range(len(m)):
            res[i][j]=m[j][i]
    return res

In [4]:
xtrans=np.array([x1,x2])
x=transpose(xtrans)

In [5]:
def display(m):
    for i in range(len(m)):
        for j in range(len(m[0])):
            print(m[i][j],end=" ")
        print()

In [6]:
display(x)

2.95 6.63
2.53 7.79
3.57 5.65
3.16 5.47
2.58 4.46
2.16 6.22
3.27 3.52

In [7]:
def mean(x):
    s=0
    for i in x:
        s=s+i
    l=s/len(x)
    return l
u1=mean(x1)
u2=mean(x2)
u=np.array([u1,u2])
print(u)

[2.88857143 5.67714286]

In [8]:
p1=[]
p2=[]
n1=[]
n2=[]
for i in range(len(y)):
    if(y[i]=='passed'):
        p1.append(x1[i])
        p2.append(x2[i])
    if(y[i]=='notpassed'):
        n1.append(x1[i])
        n2.append(x2[i])
ptrans=np.array([p1,p2])
p=transpose(ptrans)
ntrans=np.array([n1,n2])
n=transpose(ntrans)
u_p1=mean(p1)
u_p2=mean(p2)
u_n1=mean(n1)
u_n2=mean(n2)
u_pass=np.array([u_p1,u_p2])
u_pass1=np.array([u_pass])
u_pass_trans=transpose(u_pass1)
u_no=np.array([u_n1,u_n2])
u_no1=np.array([u_no])
u_no_trans=transpose(u_no1)

In [9]:
def mul(m,n):
    c=[[0 for i in range(len(n[0]))]for j in range(len(m))]
    for i in range(len(m)):
        for j in range(len(n[0])):
            for k in range(len(n)):
                c[i][j]=c[i][j]+(m[i][k]*n[k][j])
    return c
def inverse(m):
    s=np.linalg.inv(m) 
    return s

In [10]:
a=[]
for i in x:
    l=[(i[0]-u[0]),(i[1]-u[1])]
    a.append(l)
atrans=transpose(a)
c=mul(atrans,a)
for i in range(len(c)):
    for j in range(len(c[0])):
        c[i][j]=c[i][j]/len(x)
c_inv=inverse(c)
display(c_inv)

5.731714487577605 0.7822176856949434
0.7822176856949431 0.6977102207778748

In [11]:
xk=list(map(float,input().split()))
xk=np.array([xk])
xk_trans=transpose(xk)

2.81 5.46

In [12]:
import math
def fisher(u,ut,c,xk,x,x1):
    p=mul(u,c)
    q=mul(p,xk)
    r=mul(u,c)
    s=mul(r,ut)
    for i in range(len(s)):
        for j in range(len(s[0])):
            s[i][j]=s[i][j]*0.5
            q[i][j]=q[i][j]-s[i][j]
    f=q[0][0]+math.log(len(x1)/len(x))
    return f

In [13]:
f1=fisher(u_pass1,u_pass_trans,c_inv,xk_trans,x,p)
f2=fisher(u_no1,u_no_trans,c_inv,xk_trans,x,n)

In [14]:
print(f1,f2)

43.82818099216788 43.86302017821443

In [15]:
if(f1>f2):
    print("new observation is passed into a passed group")
if(f2>f1):
    print("new observation is passed into a not passed group")

new observation is passed into a not passed group