<a href="https://colab.research.google.com/github/subhiksha9/cs_lab/blob/main/Linear_Discriminant_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_excel("/content/discrimant.xlsx")
df

   x1   SAT  GPA GRADUATE
0   1  1300  2.7      yes
1   1  1260  3.7      yes
2   1  1220  2.9      yes
3   1  1180  2.5      yes
4   1  1060  3.9      yes
5   1  1140  2.1       no
6   1  1100  3.5       no
7   1  1020  3.3       no
8   1   980  2.3       no
9   1   940  3.1       no

In [4]:
x1=df['x1']
x2=df['SAT']
x3=df['GPA']
y=df['GRADUATE']

In [5]:
df['GRADUATE']=y.replace('yes', 1)

In [6]:
df['GRADUATE']=y.replace('no', 0)

In [7]:
y=df['GRADUATE']

In [8]:
Ytrans=np.array([y])
Xtrans=np.array([x1,x2,x3])

In [9]:
def transpose(m):
    res=[[0 for i in range(len(m))]for j in range(len(m[0]))]
    for i in range(len(m[0])):
        for j in range(len(m)):
            res[i][j]=m[j][i]
    return res

In [10]:
Y=transpose(Ytrans)
X=transpose(Xtrans)

In [11]:
def display(m):
    for i in range(len(m)):
        for j in range(len(m[0])):
            print(m[i][j],end=" ")
        print()

In [12]:
def inverse(m):
    s=np.linalg.inv(m) 
    return s

In [13]:
def mul(m,n):
    c=[[0 for i in range(len(n[0]))]for j in range(len(m))]
    for i in range(len(m)):
        for j in range(len(n[0])):
            for k in range(len(n)):
                c[i][j]=c[i][j]+(m[i][k]*n[k][j])
    return c

In [14]:
xtx=mul(Xtrans,X)
xtx_inv=inverse(xtx)
xty=mul(Xtrans,Y)
betacap=mul(xtx_inv,xty)
display(betacap)

-3.839196349720371
0.003232631733882836
0.23954960259052793

In [15]:
b=np.ravel(betacap)
print(len(b))

3

In [16]:
for i in range(len(b)):
    print("equation is : y=",b[i],"+",b[i+1],"SAT +",b[i+2],"GPA")
    break

equation is : y= -3.839196349720371 + 0.003232631733882836 SAT + 0.23954960259052793 GPA

In [17]:
sat=int(input("enter sat value:"))
gpa=float(input("enter gpa value:"))
ycal=b[0]+(b[1]*sat)+(b[2]*gpa)
print(ycal)

enter sat value:1000
enter gpa value:2.9
0.08812923167499609

In [18]:
if(ycal<=0.5):
    print("not graduate")
else:
    print("graduate")

not graduate