<a href="https://colab.research.google.com/github/subhiksha9/cs_lab/blob/main/MANOVA_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
n1=int(input("enter no of treatements"))
p=[]
for i in range(n1):
  p.append(int(input("enter no of subgroups in treatements")))

enter no of treatements3
enter no of subgroups in treatements3
enter no of subgroups in treatements2
enter no of subgroups in treatements3

In [12]:
a=[]
for i in range(len(p)):
  b=[]
  for j in range(p[i]):
    q=[int(x) for x in input().split(" ")]
    b.append(q)
  a.append(b)
print(a)

9 3
6 2
9 7
0 4
2 0
3 8
1 9
2 7
[[[9, 3], [6, 2], [9, 7]], [[0, 4], [2, 0]], [[3, 8], [1, 9], [2, 7]]]

In [13]:
yii=[]
ybar=[]
sum2=0
sum3=0
k=0
for i in range(n1):
  sum=0
  sum1=0
  yi=[]
  for j in range(p[i]):
    sum=sum+a[i][j][0]
    sum1=sum1+a[i][j][1]
    sum2=sum2+a[i][j][0]
    sum3=sum3+a[i][j][1]
  k=k+p[i]
  sum=sum/p[i]
  sum1=sum1/p[i]
  yi.append(sum)
  yi.append(sum1)
  yii.append(yi)
sum2=sum2/k
sum3=sum3/k
ybar.append(sum2)
ybar.append(sum3)
print(yii)
print(ybar)

[[8.0, 4.0], [1.0, 2.0], [2.0, 8.0]]
[4.0, 5.0]

In [14]:
#y1 and y2 and cross product of y1,y2
sse1=sst1=sse2=sst2=sse12=sst12=0

for i in range(n1):
  for j in range(p[i]):
    sse1=sse1+((a[i][j][0]-yii[i][0])**2)
    sst1=sst1+((a[i][j][0]-ybar[0])**2)
    sse2=sse2+((a[i][j][1]-yii[i][1])**2)
    sst2=sst2+((a[i][j][1]-ybar[1])**2)
    sse12=sse12+((a[i][j][0]*a[i][j][1])-(yii[i][0]*yii[i][1]))
    sst12=sst12+((a[i][j][0]*a[i][j][1])-(ybar[0]*ybar[1]))
print('for y1 ')
print('sse : ',sse1)
print('sst : ',sst1)
ssr1=sst1-sse1
print('ssr : ',ssr1)
print('for y2 ')
print('sse : ',sse2)
print('sst : ',sst2)
ssr2=sst2-sse2
print('ssr: ',ssr2)
print('cross product values of y1 and y2 ')
print('sse : ',sse12)
print('sst : ',sst12)
ssr12=sst12-sse12
print('ssr : ',ssr12)
w1=[sse1,sse12,sse12,sse2]
t1=[sst1,sst12,sst12,sst2]
w=(w1[0]*w1[3])-(w1[1]*w1[2])
t=(t1[0]*t1[3])-(t1[1]*t1[2])
delta=w/t

for y1
sse :  10.0
sst :  88.0
ssr :  78.0
for y2
sse :  24.0
sst :  72.0
ssr:  48.0
cross product values of y1 and y2
sse :  1.0
sst :  -11.0
ssr :  -12.0

In [15]:
#f-test
from math import sqrt
f=((k-n1-1)/(n1-1))*((1-sqrt(delta))/sqrt(delta))
print('f calculated value is :',f)
import scipy.stats as stats
p=len(a[0][0])
ftab=stats.f.ppf(1-0.05,p*(n1-1),p*(k-n1-1))
print('f table value is :',ftab)
if(f>ftab):
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

f calculated value is : 8.198859563778374
f table value is : 3.837853354555897
Reject Null Hypothesis